:root {
  --accent-color: #2e2f42;
  --btn-background-color: #4d5ae5;
  --focus-hover-color: #404bbf;
  --main-white: #ffffff;
  --background-light-color: #f4f4fd;

  /* fonts */
  --logo-font: Raleway, sans-serif;
  --text-font: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: var(--accent-color);
}

.button {
  border: none;
  font-family: var(--text-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
body {
  font-family: var(--text-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding: 120px 0;
}

/* =================================== COMPONENTS ===================================*/

.section-description-theme-dark {
  color: #e7e9fc;
  margin-top: 16px;
  /* Used only in FOOTER */
}
.section-description-theme-light {
  color: #434455;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.suptitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

/* =================================== /COMPONENTS ===================================*/

/* =================================== LOGO ===================================*/
.logo-link {
  font-family: var(--logo-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-link-header {
  margin-right: 76px;
}

.studio-header {
  color: var(--accent-color);
}

.studio-footer {
  color: var(--background-light-color);
}
/* =================================== /LOGO ===================================*/

/* =================================== HEADER ===================================*/
header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header-container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.page-nav {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.menu-link {
  font-weight: 500;
}

address {
  margin-left: auto;
}
.contacts {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.contact-link {
  font-style: normal;
  color: #434455;
}
.menu-link:hover,
.contact-link:hover {
  color: var(--focus-hover-color);
}

/* .menu-link:hover::after {
  width: 48px;
  height: 4px;
  background-color: var(--focus-hover-color);
  border-radius: 2px;
  margin-top: 24px;
  display: block;
  content: "";
} */
/* =================================== /HEADER ===================================*/

/* =============================== HERO =================================== */

.hero {
  background-color: var(--accent-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-size: cover;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  /* В секції hero стоїть класс container, але hero не наслідує чомусь margin-и */

  padding: 188px 0;
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--main-white);

  margin-bottom: 48px;
}
.btn-order {
  background: var(--btn-background-color);
  padding: 16px 32px;

  display: flex;
  align-items: center;
  color: var(--main-white);
}
.btn-order:hover {
  background: var(--focus-hover-color);
}

/* =================================== /HERO =================================== */
/* =================================== FEATURES ===================================  */
.features-section {
  background-color: var(--main-white);
}

.features {
  display: flex;
  align-items: center;
  gap: 24px;
}

.about-feauters {
  background-color: #f4f4fd;
  border-radius: 4px;
  height: 112px;
  width: 264px;

  background-repeat: no-repeat;
  background-position: center;
  padding: 24px;
  margin-bottom: 8px;
}
/* .icon-antenna {
  display: block;
  content: "";
  background-image: url(../images/group.svg);
}
.icon-clock {
  display: block;
  content: "";
  background-image: url(../images/clock.svg);
}
.icon-diagram {
  display: block;
  content: "";
  background-image: url(../images/diagram.svg);
}
.icon-astronaut {
  display: block;
  content: "";
  background-image: url(../images/astronaut.svg);
} */

/* .icon-antenna::before {
  display: block;
  content: "";
  background-image: url(../images/group.svg);
}
.icon-clock::before {
  display: block;
  content: "";
  background-image: url(../images/clock.svg);
}
.icon-diagram::before {
  display: block;
  content: "";
  background-image: url(../images/diagram.svg);
}
.icon-astronaut::before {
  display: block;
  content: "";
  background-image: url(../images/astronaut.svg);
} */
/* =================================== /FEATURES ===================================  */
/* =================================== WE DOING ===================================*/
.doing-section {
  background-color: var(--main-white);
  padding-top: 0;
}
.img-sites {
  display: flex;
  align-items: center;
  gap: 24px;
}
/* =================================== /WE DOING ===================================*/
/* =================================== TEAM ===================================*/
.team-section {
  background: var(--background-light-color);
}
.team-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 24px;
  /* row-gap вказаний на майбутнє, для випадку якщо додаватимуться ще елементи до списку */
}
.team-card {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.text-before-team-card {
  background-color: var(--main-white);
  padding: 32px 16px;
  border-radius: 0px 0px 4px 4px;
}
.team-name {
  text-align: center;
}
.text-team {
  text-align: center;
  margin-bottom: 8px;
}
/* ====================================== SVG-SOCIAL-MEDIA ===============================*/
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--btn-background-color);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--focus-hover-color);
}
.social-list-icon {
  height: 16px;
  width: 16px;
}

/* =================================== /TEAM ===================================*/
/* ================================== CUSTOMERS =========================*/

.customer {
  display: flex;
  text-align: center;
  padding: 0px;
  margin-top: 72px;
  gap: 24px;
}
.bisnes-partner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 88px;

  border: 1px solid #8e8f99;
  border-radius: 4px;
}
.bisnes-partner:hover,
.bisnes-partner:focus {
  border: 1px solid var(--focus-hover-color);
  border-radius: 4px;
}
.brend {
  width: 104px;
  height: 56px;
  fill: #8e8f99;
}
.bisnes-partner:hover .brend,
.bisnes-partner:focus .brend {
  fill: var(--focus-hover-color);
}

/* ================================== /CUSTOMERS =========================*/
/* =================================== FOOTER =================================== */

.footer-container {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
}
.footer {
  background-color: var(--accent-color);
}

.footer-social-media {
  margin-left: 120px;
}
.title-social-media {
  font-weight: 500;
  color: var(--main-white);
  margin-bottom: 16px;
}

.social-list-link-footer {
  background-color: rgba(255, 255, 255, 0.1);
}
.social-list-icon-footer{
width: 24px;
height: 24px;
}
.social-list-link-footer:hover,
.social-list-link-footer:focus {
  background-color: #31d0aa;
}

/* =================================== /FOOTER ===================================*/

/* =================================== PORTFOLIO===================================*/
/* =================================== FILTER ===================================*/
.filter-section {
  padding-top: 96px;
}
.btns-filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;

  margin-bottom: 72px;
}
.btn-filter {
  padding: 12px 24px;
  background: var(--background-light-color);
  border: 1px solid #e7e9fc;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--btn-background-color);
}
.btn-filter:hover,
.btn-filter:focus {
  background: var(--focus-hover-color);
  color: var(--main-white);
  border: 1px solid var(--focus-hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* =================================== /FILTER ===================================*/
/* =================================== CARDS ===================================*/

.cards-link-works {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.text-card-exapmle {
  background-color: var(--main-white);
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.card-link-example:hover,
.card-link-example:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* =================================== /CARDS ===================================*/
